.tasks {
  background-color: var(--overlay);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-10);
  transition: 0.3s ease all;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 4em;
}

.tasks .title {
  text-align: center;
  font-size: 1.7em;
  width: 60%;
  margin: auto;
  padding-bottom: 0.7em;
  color: var(--white);
  border-bottom: 5px solid var(--white);
}

.tasks__list {
  margin: 0 auto 1em;
  width: 60%;
  color: var(--white);
  background-color: var(--blue);
  list-style: none;
  padding: 0;
}

.tasks__list a {
  display: block;
  padding: 0.9em;
  text-decoration: none;
  color: var(--white);
  font-size: 1.2em;
}

.tasks__list li {
  transition: 0.1s ease all;
  border: 2px solid transparent;
}

.tasks__list li:hover {
  background-color: var(--dark-blue);
  border-color: var(--white);
}

.tasks__button-oc,
.tasks__button-home {
  width: 6em;
  height: 6em;
  position: fixed;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 3px 5px 10px var(--overlay);
  z-index: var(--z-index-100);
}

.tasks__button-oc {
  bottom: 3em;
  right: 3em;
}

.tasks__button-home {
  bottom: 3em;
  left: 3em;
}

.tasks__button-oc:focus,
.tasks__button-oc:active,
.tasks__button-oc:hover,
.tasks__button-home:focus,
.tasks__button-home:active,
.tasks__button-home:hover {
  background-color: var(--dark-blue);
}

.tasks__button-oc i,
.tasks__button-home i {
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  .tasks .title {
    width: 80%;
  }

  .tasks__list {
    width: 80%;
  }
}
