@import url(https://necolas.github.io/normalize.css/latest/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

* {
  box-sizing: border-box;
}

:root {
  --turquoise: #038ae6;
  --light-turquoise: #8fc2fc;
  --blue: #2058b5;
  --dark-blue: #000261;
  --light-blue: #a3c4d6;
  --overlay: #00000071;
  --red: #bb2929;
  --wine: #6c0000;
  --white: #ebf9ff;
  --green: #1ed12d;
  --pink: #ffa9a9;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-10: 10;
  --z-index-100: 100;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}
