.change-base .title {
  margin-top: 0;
  text-align: center;
}

.change-base__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.1em;
}

.form__label {
  display: block;
  font-weight: 700;
  padding: 0.7em;
  cursor: pointer;
  transition: 0.3s ease all;
}

#group__number,
#group__result {
  grid-column: span 2;
}

.form__group-input {
  position: relative;
}

.form__input {
  width: 100%;
  background: var(--white);
  border: 0.25em solid transparent;
  border-radius: 0.25em;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 2em 0 0.7em;
  transition: 0.3s ease all;
}

.form__input:disabled,
.form__input:read-only {
  background-color: var(--turquoise);
  color: var(--white);
}

.form__input:disabled::placeholder,
.form__input:read-only::placeholder {
  color: var(--light-turquoise);
}

.form__input:focus {
  border: 0.25em solid var(--turquoise);
  outline: none;
  box-shadow: 0.25em 0 0.25em #a3a3a366;
}

.form__input-error {
  font-size: 0.9em;
  margin-bottom: 0;
  display: none;
}

.form__input-error-active {
  display: block;
}

.form__check-state {
  position: absolute;
  right: 0.8em;
  bottom: calc((2.5em - 1.1em) / 2);
  font-size: 1.1em;
  z-index: 100;
  opacity: 0;
}

.form__message,
.form__group-btn-send {
  grid-column: span 2;
}

.form__message {
  color: var(--white);
  background: var(--red);
  padding: 0.5em 0.95em;
  border-radius: 0.25em;
  text-align: center;
  display: none;
}

.form__message-active {
  display: block;
}

.form__message p {
  margin: 0;
}

.form__group-btn-send {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  margin: 1em 0 0;
  padding: 0.75em 0;
  width: 100%;
  background: var(--dark-blue);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: 0.1s ease all;
}

.form__btn:hover {
  box-shadow: 3px 2px 10px var(--dark-blue);
  background-color: var(--blue);
}

.form__success-message {
  position: absolute;
  top: 90%;
  text-align: center;
  background-color: var(--green);
  margin: 1em 0 0;
  padding: 0.5em 1em;
  color: var(--white);
  display: none;
}

.form__success-message-active {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form__group-correct .form__check-state {
  color: var(--green);
  opacity: 1;
}

.form__group-incorrect .form__label {
  color: var(--red);
}

.form__group-incorrect .form__check-state {
  color: var(--red);
  opacity: 1;
}

.form__group-incorrect .form__input {
  border-color: var(--red);
}

.form__group-incorrect .form__input-error {
  color: var(--red);
  display: block;
}
